{% extends 'base.html' %}

{% block title%}
Welcome to Scoring System
{% endblock %}

{% block body %}

<main>
    <div class="py-5 text-center">
      <h2>Оценка кредитоспособности</h2>
      <p class="lead">Заполните форму, чтобы узнать свой кредитный рейтинг.</p>
    </div>

    <!--              TODO: Согласовать допустимые значения полей с ML-->
    <div class="row g-5">
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Личные данные</h4>
        <form class="needs-validation" novalidate="">
          <div class="row g-3">

            <div class="col-sm-6">
              <label for="sex" class="form-label">Пол</label>
              <select class="form-select" id="sex" required="">
                <option value="">Выберете...</option>
                <option>Мужской</option>
                <option>Женский</option>
              </select>
              <div class="invalid-feedback">
                Пожалуйста, выберите Ваш пол.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="age" class="form-label">Возраст</label>
              <input type="text" class="form-control" id="age" placeholder="" value="" required="">
              <div class="invalid-feedback">
                Пожалуйста, введите Ваш возраст.
              </div>
            </div>

            <div class="col-12">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" placeholder="you@example.com">
              <div class="invalid-feedback">
                Пожалуйста, введите действующий адрес электронной почты.
              </div>
            </div>

            <div class="col-12">
              <label for="education" class="form-label">Уровень образования</label>
              <select class="form-select" id="education" required="">
                <option value="">Выберете...</option>
                <option>Без образования</option>
                <option>Общее образование</option>
                <option>Среднее профессиональное образование</option>
                <option>Неполное высшее образование</option>
                <option>Полное высшее образование</option>
              </select>
              <div class="invalid-feedback">
                Пожалуйста, выберите Ваш уровень образования.
              </div>
            </div>

            <div class="col-12">
              <label for="home_address" class="form-label">Домашний адрес</label>
              <input type="text" class="form-control" id="home_address" placeholder="Московская улица, 1А" required="">
              <div class="invalid-feedback">
                Пожалуйста, укажите Ваш домашний адрес.
              </div>
            </div>

          <hr class="my-4">

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="car">
            <label class="form-check-label" for="car">Наличие автомобиля</label>
          </div>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="car_type">
            <label class="form-check-label" for="car_type">Наличие автомобиля-иномарки</label>
          </div>

          <hr class="my-4">

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="foreign_passport">
            <label class="form-check-label" for="foreign_passport">Наличие загранпаспорта</label>
          </div>

          <hr class="my-4">

          <h4 class="mb-3">Информация о работе</h4>

          <div class="col-12">
            <label for="work_address" class="form-label">Рабочий адрес</label>
            <input type="text" class="form-control" id="work_address" placeholder="Московская улица, 1А" required="">
            <div class="invalid-feedback">
              Пожалуйста, укажите Ваш домашний адрес.
            </div>
          </div>

          <div class="col-12">
            <label for="income" class="form-label">Доход</label>
            <input type="text" class="form-control" id="income" placeholder="" value="" required="">
            <div class="invalid-feedback">
              Пожалуйста, введите Ваш доход.
            </div>
          </div>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="good_work">
            <label class="form-check-label" for="good_work">Пристижная работа</label>
          </div>

          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit">Узнать кредитный рейтинг</button>
        </div>
        </form>
      </div>
    </div>
</main>
{% endblock %}